* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.serach_bar {
  width: 250px;
  height: 35px;
  border: 2px solid black;
  margin-left: 40%;
  margin-top: 5%;
  background-color: #1f2227;
  color: white;
  font-size: larger;
}
.serach_btn {
  width: 50px;
  height: 30px;
  margin-left: 2px;
}
